videos
__pycache__/
books
audio
photos
cache/
pages
node_modules/
db/wildcards
db/actors.json
db/categories.json
dist/
dist
build/
android-app
android-app/www/assets/*
dist/public/assets/
video_downloads/
db/websites.json
db/studios.json
dist/public
android-app/www/*
android-app/www/index.html
!dist/public
.AphroArchive-thumbs
public/dist/assets/*
.AphroArchive-actor-photos
settings
links_cache.json
process
.aider.tags.cache.v4/cache.db
.aider.tags.cache.v4/cache.db-shm
.aider.tags.cache.v4/cache.db-wal
models/llama-3.2-1b-instruct.gguf.gguf
yt-dlp.exe
models
*.db
*.db-shm
*.db-wal
db/*.db
db/*.db-shm
db/*.db-wal
db/last-profile.txt
android-app/www/index.html
android-app/www/index.html
db/last-profile.txt
