videos
books
audio
cache/
node_modules/
dist/
.AphroArchive-thumbs
.AphroArchive-actor-photos
settings
bookmarks_cache.json

.aider.tags.cache.v4/cache.db
.aider.tags.cache.v4/cache.db-shm
.aider.tags.cache.v4/cache.db-wal
models/hf_bartowski_Llama-3.2-1B-Instruct-Q4_K_M.gguf
yt-dlp.exe
geckodriver.exe
